html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Welcome to my WebApp on Container!!!
        p
          a.btn.btn-primary(href="https://www.instagram.com/developwithpunit/" target="_blank") Ansible on Instagram

          a.btn.btn-outline-primary(href="https://www.youtube.com/@developwithpunit596" target="_blank") Visit my Youtube Channel          
          
          a.btn.btn-primary(href="https://pgrewal-coding.blogspot.com/" target="_blank") Visit my Blog
        p
        p "Build a world where diversity is celebrated and racism vanishes."

